.container {
    position: relative;
}

.update {
    position: relative;
}

.update h3 {
    font-size: 11pt;
    font-weight: bold;
}

.sidebar .update .only-first {
    display: none;
}

.sidebar .update:first-child .only-first {
    display: block;
}

.sidebar .update:first-child h3 {
    font-size: 18pt;
}

.links {
    font-size: 18pt;
}

.label[data-category="Battle"] {
    background-color: rgb(217, 83, 79);
}

.label[data-category="Travel"] {
    background-color: rgb(48, 113, 169);
}

.label[data-category="Roster"] {
    background-color: rgb(240, 173, 78);
}

.label[data-category="Items"] {
    background-color: rgb(92, 184, 92);
}

.label[data-category="Meta"] {
    background-color: rgb(91, 192, 222);
}

.label[data-category="Commentary"] {
    background-color: #8A2BE2;
}

.label.disabled {
    background-color: #444;
}

.badges {
    position: absolute;
    top: 65px;
    right: 20px;
}

@media (max-width: 1188px) {
    object {
        width: 600px;
        height: 300px;
    }
}

.pokemon {
    height: 80px;
}
